@using RealEstateApp.Core.Application.ViewModel.User
@model ChangePasswordViewModel
@{
    bool editMode = Model.Id == null ? false : true;
    // int rolUserInSession =
    ViewData["Title"] = "Cambiar Contraseña";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                   
                    
                </div>
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <div class="card mt-3">

                    <form method="post" asp-controller="Home" asp-action="ChangePasswordUser">

                        <div class="mb-3 p-3">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" asp-for="Password" autocomplete="off">

                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>



                        <div class="mb-3 p-3">
                            <label>Confirmar Contraseña</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            <small class="form-text text-muted">
                                La contraseña debe contener al menos 8 digitos entre ellas: Números, letras y caracteres especiales!!!
                            </small>
                        </div>

                        <input type="hidden" asp-for="Id" name="id" />

                        <button type="submit" class="btn btn-outline-primary float-end ms-2 mb-2">Cambiar Contraseña</button>
                        <a class="btn btn-secondary float-end m" asp-controller="" asp-action="">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<style>

    .card {
        border: 0.2px solid #ffff;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 4px 4px 16px #000000;
    }

    label {
        color: #5A5A5A;
        font-size: 18px;
        font-weight: bold;
    }

</style>
