<h1 class="text-center text-success">Contraseña Cambiada Correctamente</h1>
<h3 class="text-center">Vuelve a iniciar sesion para seguir usando la web.</h3>
<a class="btn btn-primary d-flex justify-content-center" asp-controller="Login" asp-action="LogOut"> Iniciar Sesion</a>