@using RealEstateApp.Core.Application.ViewModel.Home;
@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel
<div class="container">

    <h1 class="text-center" style="color:#09385B">Welcome Back</h1>
    <div class="row mt-5">


        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header text-light text-center bg-color">
                    <h5 class="card-title">PROPIEDADES REGISTRADAS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>PROPIEDADES REGISTRADAS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">AGENTES ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong> AGENTES ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">AGENTES INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong> AGENTES INACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">CLIENTES ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong> CLIENTES ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">CLIENTES INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong> CLIENTES INACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">DESARROLLADORES ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong> DESARROLLADORES ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 offset-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center bg-color">
                    <h5 class="card-title">DESARROLLADORES INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong> DESARROLLADORES INACTIVOS </strong></p>
                </div>
            </div>
        </div>

    </div>


</div>

<style>
    .bg-color{
        background-color: #cf671b;
    }
</style>
