@using RealEstateApp.Core.Application.Dtos.Accounts;
@model UpdateUserRequest
@{
    bool editMode = Model.Id == null ? false : true;
    ViewData["Title"] = "Registro de administrador";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body mt-3">
                        <form class=" mb-3" method="post" asp-controller="Admin" asp-action="EditAdmin">

                            <div class="row mb-3">

                                <div class="col">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Ingrese su nombre" autocomplete="off" maxlength="40">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col">
                                    <label>Apellidos</label>
                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Ingrese su apellido" autocomplete="off">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row mb-3">

                                <div class="col">
                                    <label>Cedula</label>
                                    <input type="text" class="form-control" asp-for="IdentityCard" autocomplete="off" maxlength="11">
                                    <span asp-validation-for="IdentityCard" class="text-danger"></span>
                                    <small class="form-text text-muted">
                                        La cedula debe contener un total 11 caracteres sin guiones
                                    </small>
                                </div>

                                <div class="col">
                                    <label>Nombre Usuario</label>
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Ingrese su nombre de usuario" autocomplete="off">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                            </div>


                            <div class="mb-3">
                                <label>Correo Electronico</label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="Ingrese su correo" autocomplete="off" maxlength="40">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                           

                            <input type="hidden" asp-for="Id" name="id" />

                            <button type="submit" class="btn btn-outline-primary float-end ms-2">Editar</button>
                            <a class="btn btn-secondary float-end" asp-controller="Admin" asp-action="AdminView">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>

    .card {
        border: 0.2px solid #ffff;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 4px 4px 16px #000000;
    }

    label {
        color: #5A5A5A;
        font-size: 18px;
        font-weight: bold;
    }

</style>
