@using RealEstateApp.Core.Application.ViewModel.User;
@model MyProfileViewModel
@{
    bool editMode = Model.Id == null ? false : true;
    ViewData["Title"] = "Mi Perfil";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">

                    <div class="card-body mt-3">
                        <form class=" mb-3" method="post" asp-controller="Agent" asp-action="MyProfile" enctype="multipart/form-data">

                            <div class="mb-3 d-flex justify-content-center">
                                <img class="img-serie-size rounded-circle" src="@Model.ImageUser" />
                            </div>

                            <div>
                                <input type="hidden" asp-for="@Model.ImageUser" />
                            </div>

                            <div class="mb-3">
                                <label>Seleccione una foto de perfil</label>
                                <input type="file" class="form-control" asp-for="File" />
                            </div>

                            <div class="row mb-3">

                                <div class="col">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Ingrese su nombre" autocomplete="off" maxlength="40">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col">
                                    <label>Apellidos</label>
                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Ingrese su apellido" autocomplete="off">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label>Correo Electronico</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Ingrese su telefono" autocomplete="off" maxlength="40">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="Id" name="id" />
                            <input type="hidden" asp-for="Email"/>
                            <input type="hidden" asp-for="UserName" />
                            <input type="hidden" asp-for="IdentityCard"/>

                            <button type="submit" class="btn btn-outline-primary float-end ms-2">Editar Perfil</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>

    .card {
        border: 0.2px solid #ffff;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 4px 4px 16px #000000;
    }

    label {
        color: #5A5A5A;
        font-size: 18px;
        font-weight: bold;
    }

</style>
